*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: no-repeat url("../img/disco.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0; }

header {
  max-width: 75vh;
  margin: 0 auto;
  max-height: 10vh; }
  header .logo {
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 0 0 100% 100%;
    align-content: center;
    margin: 0 auto;
    max-width: 300px; }
    header .logo h1 {
      color: #fff;
      padding: 5px;
      font-family: Arial;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -4px;
      text-shadow: 1px 1px 0px black;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text; }
  header .settings {
    display: flex;
    justify-content: flex-end; }
    header .settings i {
      color: #fff;
      background-color: #333;
      padding: 8px;
      border-radius: 100%;
      cursor: pointer; }
      header .settings i:before {
        margin: 0px 1px 0px 0px;
        font-weight: bold;
        color: #fff;
        font-size: 1.5rem; }
      header .settings i:hover {
        background-color: #107abd; }

.wrapper {
  display: block;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center; }

#pad {
  background-color: #333;
  width: 680px;
  height: 680px;
  border-radius: 10px;
  border: 40px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px black;
  position: relative; }
  #pad .case {
    position: absolute;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6) inset;
    transition: all 0.5s linear;
    cursor: pointer; }
    #pad .case.clicked {
      box-shadow: 0 0 60px black inset; }
