$text-color: #115986;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: no-repeat url("../img/disco.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

header {
  max-width: 75vh;
  margin: 0 auto;
  max-height: 10vh;

  .logo {
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 0 0 100% 100%;
    align-content: center;
    margin: 0 auto;
    max-width: 300px;
    h1 {
      color: #fff;
      padding: 5px;
      font-family: Arial;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -4px;
      // INSET
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }
  }

  .btn-settings {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    position: relative;

    .icon-setting {
      color: #fff;
      background-color: #333;
      padding: 8px;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      transition: background-color 1s linear;
      overflow: hidden;

      &:before {
        margin: 0px 1px 0px 0px;
        font-weight: bold;
        color: #fff;
        font-size: 1.5rem;
      }

      &:hover {
        background-color: #107abd;
        transition: background-color 0.1s linear;

        .panel {
          max-height: 25vh;
          max-width: 150px;
          margin: 45px 15px 10px 15px;
          overflow: hidden;
          padding-right: 20px;

          ul {
            opacity: 1;
            transition: opacity 0.3s linear 0.4s;
          }
        }
      }
    }

    .panel {
      max-width: 0;
      max-height: 0;
      transition: all 0.4s linear;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 0.1s linear;
        display: flex;
        flex-direction: column;

        li {
          font-family: Arial;
          font-size: 14px;
          font-style: normal;
          margin-bottom: 10px;
          transition: color 0.3s linear;

          &:hover {
            color: #14d0ff;
          }
        }

        i:before {
          margin: 0 15px 0 0;
          padding: 0;
        }
      }
    }
  }
}

.wrapper {
  display: block;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#pad {
  background-color: #333;
  width: 680px;
  height: 680px;
  border-radius: 10px;
  border: 40px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px rgba(0, 0, 0, 1);
  position: relative;

  .case {
    position: absolute;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6) inset;
    transition: all 0.5s linear;
    cursor: pointer;

    &.clicked {
      box-shadow: 0 0 60px black inset;
    }
  }
}
